.characters__input{
    margin-top: 15px;
}

.characters__main{
    margin-top: 20px;

    display: flex;
  
}

.characters__main__select__input{
    width: 25%;
}

.characters__main__wrapper{
    width: 75%;
   
}